body{
    font-family: 'Raleway', sans-serif;
    background-color: rgba(255, 255, 255, 0.842);
    margin: 10px 50px 50px 50px;
}
td img{
    height: auto;
    width: 79%;
    display: block;
    border-radius: 6px;
    margin-left: 56px;
    padding: 5px;
}

h3{
    color: blue;
}

tr#jumbotron{
    background-color: black;
    color: white;
    padding: 16px;
    border-radius: 3px;
}

table {
    border: none;
}

h1{
    color: blue;
}
td.pad{
    padding: 10px;
    border-radius: 4px;
}

td.lift{
    margin-bottom: 400px;
}